.root {
    -fx-font-size: 12pt;
    -fx-font-family: "Permanent Marker";
    -fx-base: #0736A4;
    -fx-background: #D32323;
    -fx-text-fill:black;
}

.button {
    -fx-background-color:white;
    -fx-padding: 6;
    -fx-border-color: #0736A4;
    -fx-border-radius: 2;
    -fx-text-fill:black;
}

.button:hover,
.button:focus {
    -fx-background-color: #0736A4;;
    -fx-text-fill: white;
}

.combo-box-base {
    -fx-background-color:white;
}
.combo-box-base:hover {
    -fx-background-color: #0736A4;;
    -fx-text-fill: white;
}

.label {
    -fx-font-size: 9pt;
    -fx-font-family: "Permanent Marker";
    -fx-text-fill: #006464;
    -fx-opacity: 0.6;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Permanent Marker";
}
